.header-img{
    width: 100%;
    height: 400px;
    background: url("../assets/img/background-tienda.png");
    background-size: cover;
    padding: 70px 0;
}

.tittle-tienda{
    width: 90%;
    height: 100px;
    margin: 15px;
    text-align: center;
    padding: 70px;
}

.tittle-tienda h2{
    color: #8fbbea;
    font-size: 55px;
}

.tittle-tienda p{
    font-size: 15px;
    color: #8fbbea;
}